.indented {
    margin-left: 3rem;
}

.wrapped {
    margin-right: 3rem;
}

a {
    text-decoration: none;
    color:inherit;
}

@media screen and (max-width:1000px) {
    .indented {
        margin-left: 1.5rem;
    }
    
    .wrapped {
        margin-right: 1.5rem;
    }
}