.black-row {
    background: black;
    color:white;
    text-align: center;
    padding: 1rem 4rem;
    position: relative;
}

.header-black-row {
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.body-black-row {
    font-size: 1rem;
}

.black-row-close {
    position: absolute;
    right: 2.2rem;
    margin: auto 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    cursor: pointer;
}

.black-row-promo {
    opacity: 1;
    transition: opacity 0.2s;
}