.category-card {
    /* min-height:336px; */
    width: 252px;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease-in-out transform;
    margin: 0 1em 0 0;
}

.category-card-title {
    margin-top: 1.5em;
    width: 250px;
}

@media screen and (max-width:1000px){
    .category-card-title {
        margin-top: 1.5em;
        width: 162px;
    }
    .category-card {
        margin-right: 0.4rem;
    }
}