/* Remove default ul, li and a styles */
.header ul, .header li, .header a {
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.header-container {
    position: relative;
}

.top-row {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: 300;
    height: 2rem;
    align-items: center;
}

.top-row-items {
    display: flex;
    gap: 1.5rem;
}

.bottom-row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 0.6rem;
}

.logo {
    width: 3.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 1rem!important;
    margin-top: -1rem!important;
}

.header-fixed {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
    transition: top 0.4s;
    transition-delay: 0.2s;
}

.header-back {
    width: 100%;
    height: 5rem;
    content: " ";
}