.products-row {
    margin-top: 4em;
}

.products-row-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-row h1 {
    margin-left: 1.7em;
    display: inline-block;
}

.products-listing-list {
    margin-top: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.indented {
    margin-left: 3em;
}

.indented h1 {
    margin-left: 0;
}

