.product-listing {
    display: inline-block;
    margin: 0 0 0 1em;
    height: 340px;
    cursor: pointer;
}

.product-listing:hover {
    outline: 1px solid black;
}

.product-listing-image {
    height:250px;
    width:250px;
    position:relative;
}

.product-listing-image img {
    width: 100%;
    height: 100%;
}

.product-listing-text {
    padding: 0.5em;
}
.product-listing-title {
    margin-top:0.1em;
}

.product-listing-collection {
    font-weight: lighter;
    font-size: 0.85em;
    margin-top:0.4em;
}

.product-listing-heart {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor:default;
}

.product-listing-price {
    position: absolute;
    bottom: -0.2em;
    left: 0.5em;
    background: white;
    padding: 0.2em;
    font-size: 0.9em;
    transition-property: bottom;
    transition-duration: 0.2s;
}

.product-listing:hover .product-listing-price {
    bottom: 0.35em;
}