.product-listing {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s ease-in-out transform;
}

.product-listing-hidden {
    display:none;
}

.product-listing:hover {
    border: 1px solid black;
}

.product-listing-image {
    height:250px;
    width:250px;
    position:relative;
}

.product-listing-image img {
    width: 100%;
    height: 100%;
}

.product-listing-text {
    padding: 0.5em;
    height: 70px;
}
.product-listing-title {
    margin-top:0.1em;
    font-weight: 300;
}

.product-listing-collection {
    font-weight: lighter;
    font-size: 0.85em;
    margin-top:0.4em;
}

.product-listing-heart {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor:default;
}

.product-listing-price {
    position: absolute;
    bottom: -0.2em;
    left: 0.5em;
    background: white;
    padding: 0.2em;
    font-size: 0.9em;
    transition-property: bottom;
    transition-duration: 0.2s;
}

.product-listing:hover .product-listing-price {
    bottom: 0.35em;
}

/* Big style */
.big .product-listing-image {
    height:350px;
    width:350px;
}
.big .product-listing-text {
    height: 74px;
}

/* Category style */
.category {
    background: #eceff1;
}

.category .product-listing-text {
    display: flex;
    align-items: center;
    justify-content: center;
   }

.category .product-listing-title {
 text-align:center;   
 font-weight: bold;
}