.product-listing {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s ease-in-out transform;
    width:250px;
}

.product-listing-hidden {
    display:none;
}

.product-listing:hover {
    border: 1px solid black;
}

.product-listing-image {
    height:250px;
    width:250px;
    position:relative;
    margin: 0 auto;
}

.product-listing-image img {
    width: 100%;
    height: 100%;
}

.product-listing-text {
    padding: 0.5em;
    height: 70px;
}
.product-listing-title {
    margin-top:0.1em;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.product-listing-collection {
    font-weight: lighter;
    font-size: 0.85em;
    margin-top:0.4em;
}

.product-listing-heart {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor:default;
}

.product-listing-price {
    position: absolute;
    bottom: -0.2em;
    left: 0.5em;
    background: white;
    padding: 0.2em;
    font-size: 0.9em;
    transition-property: bottom;
    transition-duration: 0.2s;
}

.product-listing:hover .product-listing-price {
    bottom: 0.35em;
}

/* Big style */
.big .product-listing {
    width:350px;
}

.big .product-listing-image {
    height:350px;
    width:350px;
}
.big .product-listing-text {
    height: 74px;
}

/* Category card style */
.category {
    background: #eceff1;
}

.category .product-listing-text {
    display: flex;
    align-items: center;
    justify-content: center;
   }

.category .product-listing-title {
 text-align:center;   
 font-weight: bold;
}

/* category page style */
.category-products .product-listing {
    width:25%;
    box-sizing: border-box;
}

.category-products .product-listing-image {
    width:100%;
    /* height:19rem; */
}

.category-products .product-listing-image img {
    object-fit: cover;
}

@media screen and (max-width:1000px){
    .product-listing {
        margin-right: 0.4rem;
        width:150px;
}

    .product-listing-image {
        height:150px;
        width:150px;
    }

    /* Big style */
    .big .product-listing {
        width:230px;
    }

    .big .product-listing-image {
        height:230px;
        width:230px;
    }

    .category .product-listing-image {
            height:150px;
            width:150px;
       }


    .category-products .product-listing {
        width:33%;
        /* height:40vw; */
    }

    .category-products .product-listing-image {
        height:auto;
   }

   .category-products .product-listing-title {
    font-size:0.9rem;
}


}

@media screen and (max-width:500px){
    .category-products .product-listing {
        width:50%;
        /* height:40vw; */
    }
    .category-products .product-listing-title {
        font-size:0.8rem;
    }
}