.row {
    margin-top: 4em;
}

.row-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row h1 {
    margin-left: 3rem;
    display: inline-block;
}

.row-items {
    margin-top: 1em;
    overflow: hidden;
    white-space: nowrap;
    display:flex;
}

.indented {
    margin-left: 3rem;
}

.indented h1 {
    margin-left: 0;
}

.tab-title {
    margin-right:1.5em;
    cursor: pointer;
    opacity: 0.25;
}

.tab-title.active {
    opacity:1;
}