.wishlist-container {
    margin: 2rem auto 3rem;
    width: 60%;
}

.wishlist-title {
    margin-bottom: 1rem;
}

.wishlist-title h1, .wishlist-title h3 {
    margin:0;
}

.wishlist-title h1 {
    margin-bottom: 1rem;
}

.wishlist-title h3 {
    font-weight: normal;
    font-size: 0.95rem;
}

.wishlist-items .product-listing {
    width: 45%;
}

.wishlist-items .product-listing-image {
    width: 100%;
    height: 100%;
}

.wishlist-items .product-listing-collection {
    display: none;
}

.wishlist-items .product-listing-title {
    height: 2rem;
}

.wishlist-items .product-listing-text {
    font-size: 0.8rem;
}

.wishlist-content {
    display:flex;
}

.wishlist-content > * {
    width: 50%;
}

.wishlist-text{
    display:flex;
    flex-direction: column;
    padding:1.5rem 0.7rem;
    box-sizing: border-box;
    gap: 0.5rem;
    background: #6d8194;
    height: 100%;
}

.wishlist-text > *{
    margin: 0;
    color: white;
}

.wishlist-text h2{
    font-size: 1rem;
}

.wishlist-text p{
    font-size: 0.9rem;
    line-height: 1.6;
}

.login-button {
    display: inline-block;
    width: fit-content;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.login-button:hover {
    text-decoration: none;
    background-color: black;
    color:white;
}

.register-button {
    color:black;
    width: fit-content;
}

.register-button .right-arrow {
    flex-basis: auto;
}

.wishlist-items .product-listing {
    margin-right: 0.5rem;
}

@media (max-width:1000px){
    .wishlist-container {
        width: 90%;
    }
}

@media (max-width:600px){
    .wishlist-container {
        width: 90%;
    }

    .wishlist-content{
        flex-wrap: wrap;
    }

    .wishlist-content > * {
        width: 100%;
    }    
}